* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #08c3ff;

}

.Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #3cb6da;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game-board-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.game-board {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.time {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.squar {
    border: none;
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 50px;
    flex-wrap: nowrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    border-radius: 50%;
}

.btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 5px;

}

.btn-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 5px;

}

.btn-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 5px;

}

.btn-down {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 5px;
}

.icon {
    font-size: 40px;
    color: red;
}

.btn-login {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn-login:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-login:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn-login:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}


.btn-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
}



.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
}